<main class="omen-top">
  <div class="container">
    <div class="omen-top__inner">
      <p class="omen-top__eyecatch">
        迷える甘党よ、悪魔は今日もあなたを待っているぞ…
      </p>

      <h1 class="omen-top__title">悪魔の誘惑</h1>

      <p class="omen-top__lead">
        悪魔は甘い供物を好む。<br>
        さあ、あなたも悪魔と向き合い、<br>
        今日捧げるべき供物を見つけ出すのだ…
      </p>

      <%= link_to "悪魔と向き合う",
                  sweets_path,
                  class: "omen-top__cta" %>
    </div>
  </div>
</main>