<h1>悪魔のお告げ</h1>

<%# .presentはseed.rbでやっているうちは不要 %>
<<% if @sweet.present? %>
  <p>今日は<%= @sweet.name %>を捧げよ</p>
  <p><%= @sweet.description %></p>

  <% if @sweet.image.attached? %>
    <%= image_tag @sweet.image, width: "300", height: "200", class: "card-img-top img-fluid" %>
  <% end %>
<% else %>
  <p>お菓子が見つかりませんでした</p>
<% end %>

<%# Xでシェア %>

<p>Xで結果を報告する</p>

<%# GoogleMap検索外部サイトに飛ばす。 %>
<p>供物を探す</p>


<%# もう一度実行 %>
<p>代わりの供物を探す</p>

<p>トップに戻る</p>